body {
    font-family: 'Lato', sans-serif;
  }

.title {
    text-align: center;
    color: darkgrey;
    font-size: 1.5em;
    font-weight: bold;
}

.bottom {
    margin-bottom: 30px;
}

.top {
    margin-top: 30px;
}

.main {
    font-size: 3em;
    color:rgb(140, 199, 140);
}

p {
    color:rgb(77, 77, 77);
    font-weight: 300;
}

.descr {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.75);
}

.narrow {
    padding-left: 17.5rem;
    padding-right: 17.5rem;
}

.wide {
    padding-left: 5rem;
    padding-right: 5rem;
}

.header {
    min-height: 20px;
    color:rgb(140, 199, 140);
    font-size: 2em;
}

.col-1 {
    min-height: 20px;
    width: 15%;
    color:rgb(140, 199, 140);
    font-size: 2em;
}

.sketch-img {
    max-height: 20rem;
}

ul {
    font-weight: 300;
    margin: 10px 0 0 0;
}

ol {
    margin: 10px 0 0 0;
}

.description {
    width: 40%;
}

.grey {
    background-color: rgb(238, 241, 237);
}

.light-grey {
    background-color: rgb(245, 247, 244);
}